@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Darker Grotesque"; /*, system-ui, sans-serif;*/
    font-weight: 500; /* Medium is default weight */
    scroll-behavior: smooth;
  }
  @font-face {
    font-family: "Dirtyline 36daysoftype 2022";
    font-display: swap;
    src: url(/fonts/Dirtyline-36-daysoftype/woff/Dirtyline\ 36daysoftype\ 2022.woff2)
      format("woff2");
  }
  /* @font-face {
    font-family: "Darker Grotesque";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/fonts/Darker_Grotesque/static/DarkerGrotesque-Regular.ttf)
      format("woff2");
  } */
  @font-face {
    font-family: "Darker Grotesque";
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(/fonts/Darker_Grotesque/static/DarkerGrotesque-Medium.ttf)
      format("woff2");
  }
  @font-face {
    font-family: "Darker Grotesque";
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url(/fonts/Darker_Grotesque/static/DarkerGrotesque-SemiBold.ttf)
      format("woff2");
  }
  @font-face {
    font-family: "Darker Grotesque";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(/fonts/Darker_Grotesque/static/DarkerGrotesque-Bold.ttf)
      format("woff2");
  }
}

/* :root {
  --foreground-color: #000000;
  --background-color: #d6dbdc;
} */

/* Forced dark mode */
/* @media (prefers-color-scheme: dark) { */
:root {
  --foreground-rgb: #f2ebde;
  --background-rgb: #000000;
  --bg-footer: #000000;
  --bg-secondary: #1c1c1c;
  --max-width: 1440px;
  --header-max-width: 1380px;
}
/* } */

html {
  width: 100vw;
  overflow-x: hidden;
  scroll-padding-top: 70px;
}

body {
  color: var(--foreground-rgb);
  background: var(--background-rgb);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .text-mixed {
    text-orientation: mixed;
  }
  .writing-vertical-lr {
    writing-mode: vertical-lr;
  }
  .marker-none::marker {
    content: "";
  }
  .text-title-clamp {
    font-size: clamp(9rem, -7.6337rem + 34.6535vw, 13.375rem);
  }
  .text-title-2-clamp {
    font-size: clamp(2.625rem, -3rem + 10vw, 5rem);
  }
}

.loading-logo {
  --count: 14;
  --scale: 8;
  --w: 34px;
  --h: 26px;
  --width: calc(var(--w) * var(--scale));
  --height: calc(var(--h) * var(--scale));
  --bg-width: calc(var(--width) * var(--count));

  background-image: url(/svg/icon-lamb-sprite.svg);
  background-repeat: no-repeat;
  background-size: var(--bg-width) var(--height);
  width: var(--width);
  height: var(--height);
  animation: loading-logo 1.5s steps(var(--count)) 0.2s infinite;
}

@keyframes loading-logo {
  to { background-position: calc(-1 * 34px * 8 * 14) 0; }
}

.bl-title {
  aspect-ratio: 343/70;
  background-image: url(/svg/title.svg);
  background-repeat: no-repeat;
  background-size: contain;
}


.scroll-down-mouse svg path#line {
  transition: d 0.3s ease-out;
}
.scroll-down-mouse:hover svg path#line {
  d: path("M10.999 32.353L10.999 0.945171");
}

.slick-slider {
  @apply grid !important;
}
.slick-list {
  @apply order-2 !important;
}
.slick-dots {
  @apply relative bottom-0 order-1 mb-6 flex justify-between gap-4 sm:justify-start md:mb-10 md:gap-4 !important;
}
.slick-dots li {
  @apply m-0 h-4 w-4 list-none rounded-full border border-solid border-gray-50 bg-transparent transition-all !important;
}
.slick-dots li.slick-active {
  @apply w-8 border-primary-500 bg-primary-500 !important;
}
.slick-dots li button {
  @apply m-0 h-full w-full rounded-full p-0 focus:ring-4 !important;
}
.slick-dots li button::before {
  @apply content-none !important;
}
.slick-track {
  @apply flex gap-2 !important;
}
.slick-prev,
.slick-next {
  @apply mt-24 sm:mt-8 top-full left-full -translate-x-full right-0 size-6 -rotate-90 hover:bg-[var(--bg-secondary)] focus:bg-[var(--bg-secondary)] focus:ring transition-all rounded-full !important;
  background: url(/svg/circled-arrow-down-primary.svg) 100% no-repeat !important;
  background-size: contain !important;
}
.slick-prev {
  @apply -ml-14 sm:-ml-16 rotate-90 !important;
}
.slick-prev:before,
.slick-next:before {
  @apply content-none !important;
}

@keyframes logo {
  to { background-position: -476px 0; }
}

.logo {
  display: flex;
  width: 34px;
  height: 26px;
  background-image: url("/svg/icon-lamb-sprite.svg");
  background-size: 476px 26px;
}
.logo:hover {
  background-image: url("/svg/icon-lamb-sprite-primary.svg");
  animation: logo 1.5s steps(14) infinite;
}

@keyframes logo-scaled {
  to { background-position: -952px 0; }
}

.logo-scaled {
  width: 68px;
  height: 52px;
  background-size: 952px 52px;
}
.logo-scaled:hover {
  animation: logo-scaled 1.5s steps(14) infinite;
}

@keyframes logo-main-mobile {
  to { background-position: -1428px 0; }
}

.logo-main-mobile {
  width: 102px;
  height: 78px;
  background-image: url("/svg/icon-lamb-sprite.svg");
  background-size: 1428px 78px;
}
.logo-main-mobile:hover {
  background-image: url("/svg/icon-lamb-sprite-primary.svg");
  animation: logo-main-mobile 1.5s steps(14) infinite;
}

@keyframes logo-main {
  to { background-position: -2856px 0; }
}

.logo-main {
  width: 204px;
  height: 156px;
  background-image: url("/svg/icon-lamb-sprite.svg");
  background-size: 2856px 156px;
}
.logo-main:hover {
  background-image: url("/svg/icon-lamb-sprite-primary.svg");
  animation: logo-main 1.5s steps(14) infinite;
}

summary::-webkit-details-marker {
  display: none;
}

.explode-circle {
  animation: explode 0.7s forwards;
}

.desplode-circle {
  animation: desplode 0.3s forwards;
}

@keyframes explode {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(50);
  }
}

@keyframes desplode {
  0% {
    transform: scale(50);
  }
  100% {
    transform: scale(0);
  }
}

.approach-image {
  width: 100%;
  background-image: url("/images/approach-bg-mobile.jpg");
  background-size: cover;
  background-position: center;
  background-color: #171717;
}